DATABASE_URL="mongodb+srv://<username>:<password>@cluster0.xxx.mongodb.net/car_showroom?appName=Cluster0"
NEXTAUTH_SECRET="your-super-secret-nextauth-key-change-in-production"
NEXTAUTH_URL="http://localhost:3000"

# Admin Seed Info
ADMIN_EMAIL="admin@fam.com"
ADMIN_PASSWORD="securepassword"

# Cloudinary
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
